.section {
    color: white;
    padding:1em;
    clear: both;
}

#findRepresentative  {
    background-color: #2980B9;
    clear: both;
}

.section h2 {
    margin:0;
    padding:1em;
}

#meetRepresentatives {
	background-color: #E74C3C;
    clear: both;
}

#meetCandidates {
	background-color: #F1C40F;
    clear: both;
}

#registerToVote {
	background-color: #2ECC71;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

fill-white {
    fill:white;
}

.candidate {
	text-align:center;
	color: black;
	background-color:white;
	padding:1em;
	margin:1em;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.candidate:hover {
	box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
}

.candidate #name {
	font-size:1.3em;
	margin:0;
	padding:0;
}

.candidate img {
	width: 140px;
	height: 140px;
}

.failure {
    margin-left:1em;
}

.has-error {
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: none;
}

.form-group div {
    padding:0.1em;
}

.DEM {
    background-color: blue;
}

.REP {
    background-color: red;
}
